h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #444;
}

input[type='text'] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-right: 10px;
  color: #444;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}
